<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Список задач</title>
  <script src="/js/jquery-3.4.0.min.js"></script>
  <script src="/js/main.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
<!--  <link rel="stylesheet" th:href="@{/css/styles.css}">-->

</head>

<body>
<div id="task-form">
  <!-- action="#" method="POST" enctype="multipart/form-data"-->
  <form action="#" method="POST" enctype="multipart/form-data">
    <h2>Добавление дела</h2>
    <label>Deadline:</label>
    <!-----------date----------->
    <!--name="deadline" value="" placeholder="дата в формате ДД.ММ.ГГГГ"-->
    <label>
      <input type="text" name="deadline" value="" placeholder="дата в формате ДД.ММ.ГГГГ">
    </label>
    <hr>
    <label>Ответственное лицо:</label>
    <label>
      <input type="text" name="responsiblePerson" value="" placeholder="Имя">
    </label>
    <hr>
    <label>Описание задачи:</label>
    <label>
      <input type="text" name="taskName" value="" placeholder="Осмысленный текст">
    </label>
    <hr>
    <button type="submit" id="save-task">Сохранить</button>
  </form>
</div>
<div id="change-task-form">
  <form action="#" method="POST" enctype="multipart/form-data">
    <h2>Изменение дела</h2>
    <label>new Deadline:</label>
    <label>
      <input type="text" name="deadline" value="" placeholder="дата в формате ДД.ММ.ГГГГ">
    </label>
    <hr>
    <label>Новое ответственное лицо:</label>
    <label>
      <input type="text" name="responsiblePerson" value="" placeholder="Имя">
    </label>
    <hr>
    <label>Новое описание задачи:</label>
    <label>
      <input type="text" name="taskName" value="" placeholder="Осмысленный текст">
    </label>
    <hr>
    <button type="submit" id="save-changed-task">Сохранить изменения</button>
  </form>
</div>
<h1>Список дел (<span th:text="${tasksCount}">0</span>)</h1>
<button id="show-add-task-form">Добавить дело</button>
<br><br>
<div id="task-list">
  <div th:each="task : ${tasks}">
    <a href="#" class="task-link" th:attr="data-id=${task.id}" th:text="${task.taskName}"></a>
    <button class="edit-task" th:attr="data-id=${task.id}">Изменить</button>
    <button class="delete-task" th:attr="data-id=${task.id}">Удалить</button>
    <br>
  </div>
</div>
<!--<p th:text="${someParameter}"></p>-->
<script type="text/javascript" th:src="@{/js/cssandjs/jquery-3.4.0.min.js}"></script>
<script type="text/javascript" th:src="@{/js/cssandjs/main.js}"></script>
</body>

</html>